
<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>
        <span *ngIf="selectedPomo.id; else prompt">Editing {{originalNotes}}</span>
        <ng-template #prompt>Create Pomo</ng-template>
      </h1>
    </mat-card-title>
  </mat-card-header>
  <form (submit)="saved.emit(selectedPomo)">
    <mat-card-content>
      <mat-form-field class="full-width">
        <input matInput placeholder="Notes" [(ngModel)]="selectedPomo.notes" type="text" name="notes">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="task_id" [(ngModel)]="selectedPomo.task_id" type="text" name="task_id">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Date" [(ngModel)]="selectedPomo.date" type="text" name="date">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button type="submit" mat-button>Save</button>
      <button type="button" mat-button (click)="cancelled.emit(selectedPomo)">Cancel</button>
    </mat-card-actions>
  </form>
</mat-card>
