<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>Pomos</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let pomo of pomos" (click)="selected.emit(pomo)">
        <h3 mat-line>{{pomo.notes}}</h3>
        <p mat-line>
          {{pomo.task_id}}
        </p>
        <p>
          {{pomo.date}}
        </p>
        <button *ngIf="!readonly" mat-icon-button (click)="deleted.emit(pomo);$event.stopImmediatePropagation();">
          <mat-icon>close</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
