<div class="container">
  <div class="row">
    <section style="display: flex;">
      <section>
        <div class="col">
          <h4>Sprint Backlog</h4>
          <cdk-drop #backlog [connectedTo]="[working]" class="list" (dropped)="addToList($event)" [data]="backlogTasks">
            <div *ngFor="let bTask of backlogTasks" cdkDrag class="list-sorted__item">
              <h6 mat-line>{{bTask.content}}</h6>
            </div>
          </cdk-drop>
          <p>{{ backlogTasks | json}}</p>
        </div>
      </section>
      <section>
        <div class="col">
          <h4>Working</h4>
          <cdk-drop #working [connectedTo]="[done]" class="list" [enterPredicate]="isAllowed" (dropped)="addToList($event)" [data]="workingTasks">
            <div *ngFor="let wTask of workingTasks" cdkDrag class="box">
                <h6 mat-line>{{wTask.content}}</h6>
            </div>
          </cdk-drop>
          <p>{{ workingTasks | json}}</p>
        </div>
      </section>
      <section>
        <div class="col">
          <h4>Done</h4>
          <cdk-drop #done class="list" [enterPredicate]="isAllowed" (dropped)="addToList($event)" data="doneTasks">
            <div *ngFor="let dTask of doneTasks" cdkDrag class="box">
                <h6 mat-line>{{dTask.content}}</h6>
            </div>
          </cdk-drop>
          <p>{{ doneTasks | json}}</p>
        </div>
      </section>
    </section>
  </div>
</div>
